body{
    font-family: yekan, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: yekan;
    font-weight: normal;
    src: local("Yekan"),
        url(../fonts/yekan-font/yekan-regular.eot) format("eot"),
        url(../fonts/yekan-font/yekan-regular.ttf) format("truetype"),
        url(../fonts/yekan-font/yekan-regular.woff) format("woff"),
        url(../fonts/yekan-font/Yekan.eot) format("embedded-opentype"),
        url(../fonts/yekan-font/Yekan.svg) format("svg")
        url(../fonts/yekan-font/Yekan.ttf) format("truetype"),
        url(../fonts/yekan-font/Yekan.woff) format("woff");
    font-display: swap;
}

